
@{
    ViewBag.Title = "Q2";
}

<h2>Q2</h2>

<h3>How many pillars of OOP?</h3>

<input type="radio" name="radio1" value=" " />1
<br />
<input type="radio" name="radio1" value=" " />2
<br />
<input type="radio" name="radio1" value=" " />3
<br />
<input type="radio" name="radio1" value=" " />4

<div class="container">
    <div class="col-md-6">@Html.ActionLink("Previous", "Q1")</div>
    <div class="col-md-6">@Html.ActionLink("Next", "Q3")</div>
</div>

