@using WebApplication30.Models
@model ExamResult

@{
    ViewBag.Title = "Exam Result";
}

<h2>Exam Result - @Model.ExamName </h2>
<div class="panel panel-primary">
    
    <div class="panel-heading">
        <i class="fa fa-user fa-2x"></i>
        <span>@Model.StudentName</span>
    </div>
    <div class="panel-body">


        <div>
            <h3>Total Marks:</h3>
            @Model.TotalMarks
        </div>

        <div>
            <h3>Marks Obtained:</h3>
            @Model.MarksObtained
        </div>

    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" disabled="">Print Pdf</button>
        <button class="btn btn-primary" disabled="">Email Result</button>

    </div>
</div>




<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
